# This file contains file patterns that triggers automatic
# code review requests from users that are owners of these files
# Order matters, the last match has the highest precedence

# library folders
lib/kokkos/*          @stanmoore1

# packages
src/KOKKOS            @stanmoore1


# project policies, automated tests, and GitHub configuration
/SECURITY.md                       @stanmoore1
/.github/CODEOWNERS                @stanmoore1
/.github/dependabot.yml            @stanmoore1
/.github/security-insights.yml     @stanmoore1
/.github/workflows/                @stanmoore1
