/html
/fasthtml
/epub
/latex
/linkcheck
/linkchecker-out.html
/spelling
/doctrees
/doctrees-spelling
/docenv
/SPARTA.epub
/Manual.pdf
/Developer.pdf
/utils/sphinx-config/conf.py
/utils/sphinx-config/_mathjax
/src/false_positives.txt
*.pyc
__pycache__
*.egg-info
/utils/converters/build
